/*FLEX*/

.flex{
    display: flex;
}
.items-center{
    align-items: center;
}
.align-start{
    align-items: start;
}
.content-center{
    justify-content: center;
}
.content-end{
    justify-content: flex-end;
}
.flex-column{
    flex-direction: column;
}

/*UTILS*/
.mr-1{
    margin-right: 0.8rem;
}
.mt-1{
    margin-top: 0.8rem;
}
.mb-1 {
    margin-bottom: 0.8rem;
}
.hidden{
    display:none;
}
/*POSITION*/
.relative{
    position: relative;
}