$clr1: #3bc1c5;
$clr2: #8b368b;
$clr3: #3bc752;

/*GRAY COLORS - between 10 - 19*/
$clr10: #888;
$clr11: #aaa;

$color_primary: rgb(72, 72, 72);
$color-light: rgb(242, 242, 242);
$color_warning: yellow;
$color_danger: red;

$bg-color:white;

$fonts-primary: 'ABeeZee', sans-serif;
