@import url('https://fonts.googleapis.com/css?family=ABeeZee');
// @import url("https://fonts.googleapis.com/css?family=Playfair+Display");

$clr1: #3bc1c5;
$clr2: #8b368b;
$clr3: #3bc752;

/*GRAY COLORS - between 10 - 19*/
$clr10: #888;
$clr11: #aaa;
$clr12: rgb(72, 72, 72);
$clr13: rgb(242, 242, 242);
$clr14: #ebebeb;

$color_warning: yellow;
$color_danger: red;

$bg-color:white;

$fonts-primary: 'ABeeZee', sans-serif;
