$clr1: #3bc1c5;
$clr2: #8b368b;
$clr3: #3bc752;

/*GRAY COLORS - between 10 - 19*/
$clr10: #888;
$clr11: #aaa;
$clr12: #555;
$clr13: #f2f2f2;
$clr14: #ebebeb;
$clr15: #DDD;

$color_danger: red;

$bg-color:white;

$fonts-primary: 'ABeeZee', sans-serif;
$fonts-awesome: 'fontawesome';
