@import 'reset';
@import 'variables';
@import 'helpers';
@import url('https://fonts.googleapis.com/css?family=ABeeZee');

*{
    box-sizing: border-box;
}

body{
    color: $color_primary;
    font-family: $fonts-primary;
}
button{
    cursor: pointer;
}
body, button, a, select, input, text-area, h1, h2, h3, h4, h5, h6{
    font-family: $fonts-primary;
    color: $color_primary;
}


.text-danger{
    color: $color_danger;
}

