@import 'reset';
@import 'variables';
@import 'helpers';

*{
    box-sizing: border-box;
}

body{
    color: $color_primary;
}

.home-page{
    .mid-screen{
    height: 70vh;
    background: url('../assets/img/home-bg.jpg') no-repeat;
    background-size: cover;
    background-position: top right;
  }
}